// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.html-parser{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 760px;
    &__input{
        span{
            display: block;
            font-size: 20px;
            margin-bottom: 14px;
        }
        input{
            padding: 20px 35px;
            border-radius: 10px;
            font-size: 30px;
            border: 1px solid #dfdfdf;
            width: 100%;
            margin-right: 30px;
        }
        button{
            border-radius: 10px;
            padding: 20px;
            font-size: 30px;
            border: 1px solid #3eaf7c;
            background: #3eaf7c;
            color: white;
            width: 300px;
        }
        &-group{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 40px;
        }
    }
    &__message{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 19px;
        color: #ac2b2b;
    }
    &__tags{
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    &__tag{
        background: #ffffff;
        color: black;
        display: inline;
        padding: 10px 13px 10px 15px;
        border-radius: 11px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 17px;
        border: 1px solid #eeeeee;
        span{
            background: #3eaf7c;
            color: white;
            border-radius: 15px;
            padding: 5px 10px;
            margin-left: 10px;
        }
    }
}
