<template>
    <div class="html-parser">
        <form @submit.stop.prevent="send">
            <div class="html-parser__input">
                <span>Введите URL:</span>
                <div class="html-parser__input-group">
                    <input required placeholder="Например, https://dzen.ru/" type="text" v-model="formData.url">
                    <button type="submit">{{textLoad}}</button>
                </div>
            </div>
            <div v-if="error" class="html-parser__message" v-text="error"></div>
            <template v-if="tags">
                <div class="">
                    Кол-во HTML тегов на странице:
                </div>
                <div class="html-parser__tags">
                    <div v-for="(count, tagName) in tags" :key="tagName" class="html-parser__tag">
                        {{ tagName }} <span v-text="count"></span>
                    </div>
                </div>
            </template>
        </form>
    </div>
</template>
<script>
import axios from "axios";

export default {
    data() {
        return {
            formData: {
                url: ''
            },
            textLoad: 'Запустить',
            response: false,
        }
    },
    computed: {
        error() {
            if (this.response && !this.response.status) {
                return this.response.message;
            }
            return false;
        },
        tags() {
            if (this.response && this.response.status && this.response.tags) {
                return this.response.tags;
            }
            return false;
        }
    },
    methods: {
        send() {
            this.textLoad = 'Загрузка...'
            axios.post('/parser/counter-html-tags', this.formData).then((response) => {
                this.textLoad = 'Запустить'
                this.response = response.data;
            })
        }
    }
};
</script>
